html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #f1f7fc;
    opacity: 0.9;
}


/* ************For Index Home Page*************** */

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x:hidden; */
}


/* -------------------------------Slider----------------------------- */
.slider {
    width: 100%;
    height: 60vh;
}

.imag {
    width: inherit;
    height: inherit;
    max-height: 320px;
}

.imgtext {
    position: absolute;
    margin: 100px 0 0 40px;
}

#wel {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

#h1 {
    color: white;
    font-size: 5rem;
    margin-bottom: 20px;
}

#loremp {
    color: white;
    font-size: 1.5rem;
}

@media all and (max-width:560px) {
    #wel {
        color: white;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    #h1 {
        color: white;
        font-size: 3rem;
        margin-bottom: 20px;
    }

    #loremp {
        color: white;
        font-size: 1rem;
    }
}
/* -------------------------------Slider End----------------------------- */


/* -------------------------------Rooms Deal----------------------------- */
.room-deal {
    margin: 100px 0 100px 0;
    height: 80vh;
    width: 100%;
}

#imgdeal {
    width: 100%;
    height: 80vh;
    box-shadow: 0 0 5px black;
}
/* -------------------------------Rooms Deal End----------------------------- */

/* -------------------------------About----------------------------- */
.about {
    display: flex;
    height: auto;
    width: 100%;
}

    .about img {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0px 50px 40px 60px;
        width: 60%;
        height: 60vh;
    }

.about-p h1 {
    background-image: url("https://m.media-amazon.com/images/I/71CBFE7ZhaL._AC_SX679_.jpg");
    font-size: 3rem;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.about-p p {
    margin-bottom: 50px;
}

.about ol {
    padding-left: 20px;
    margin-top: -30px;
}

.about-p li {
    /* list-style: symbols('>'); */
    line-height: 30px;
}

@media all and (max-width:660px) {
    .about img {
        display: none;
    }

    .about-p {
        margin: 0 0 0 50px;
    }
}

@media all and (max-width:400px) {
    .about-p h1 {
        font-size: 4rem;
        margin-bottom: 20px;
    }
}
/* -------------------------------About End----------------------------- */

/* -------------------------------Clirev----------------------------- */
.clirev {
    height: auto;
    width: 100%;
    margin: auto;
    background-color: #F7F7F7;
    display: grid;
    grid-template-rows: repeat(auto-fill,minmax(200px,2fr));
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill,minmax(200px,300px));
    grid-auto-rows: 200px;
}

.espan {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fspan {
    margin: 0 20px 0 10px;
}

    .fspan:hover {
        color: red;
    }
/* -------------------------------Clirev End----------------------------- */

/* -------------------------------Staff----------------------------- */
.staff {
    height: auto;
    width: 90%;
    margin: auto;
}

    .staff h1 {
        padding-top: 5vh;
        background-image: url("https://cdn.pixabay.com/photo/2016/11/22/20/04/abstract-1850424__480.jpg");
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-weight: bold;
        font-size: 4rem;
    }

    .staff p {
        text-align: center;
        /* font-weight: bold; */
        font-size: 1.2rem;
    }

.divimg {
    height: auto;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.staff div img {
    box-shadow: 1px 1px 5px black;
}

@media all and (max-width:2560px) {
    .divimg {
        height: auto;
        width: 50%;
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .staff div img {
        margin: 40px auto;
        box-shadow: 1px 1px 5px black;
    }
}
/* -------------------------------Staff End----------------------------- */




/* Register & Login Page */
.register-photo {
    background: #f1f7fc;
    padding-bottom: 40px;
}

    .register-photo .image-holder {
        display: table-cell;
        width: auto;
        background: url(https://images.squarespace-cdn.com/content/v1/57a43cf715d5db0bee1397d9/1548384311392-BZK4AS3RPYPDPIIO3BN1/checkbeforebookinghotel?format=750w);
        background-size: cover;
    }

    .register-photo .image-holder-2 {
        display: table-cell;
        width: auto;
        background: url(https://cdn.audleytravel.com/1050/749/79/1321212-ten-square-hotel-belfast.webp);
        background-size: cover;
    }

    .register-photo .form-container {
        display: table;
        width: 90%;
        margin: 0 auto;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    }

    .register-photo form {
        display: table-cell;
        width: 500px;
        background-color: #ffffff;
        padding: 40px 40px;
        color: #505e6c;
    }

        .register-photo form .form-control {
            background: #f7f9fc;
            color: inherit;
            text-indent: 3px;
            height: 40px;
        }

/* Register & Login Page End */


/* Slide Animation for banner */
.delight {
    margin: auto;
    width: 375px;
    color: black;
    font-family: cursive;
    text-transform: uppercase;
    font-size: 22px;
    position: relative;
}

    .delight::before {
        content: "Checkout delightful rooms!";
        position: absolute;
        left: 0;
        top: 15px;
        width: 12px;
        color: deeppink;
        white-space: nowrap;
        border-right: 2px solid deeppink;
        overflow: hidden;
        animation: move 5s linear infinite;
    }

@keyframes move {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
/* Slide Animation for banner End*/


/* Home grid room image */
.rooms {
    max-width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: 300px 100px;
    background: inherit;
}

.innerimg {
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

    .title {
        position: absolute;
        left: 36%;
        top: 94%;
    }

.item {
    position: relative;
    width: 320px;
    height: 190px;
    margin: 10px;
    perspective: 600px;
}

.roomimg {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: right;
    transform: rotateY(0deg);
    opacity: 1;
    transition: 0.5s;
}

.item:hover .roomimg {
    transform: rotateY(-90deg);
    opacity: 0;
}

.item:hover .caption {
    transform: rotateY(0deg);
    opacity: 1;
}

.caption {
    position: absolute;
    padding-top: 5px;
    z-index: 0;
    background-color: #97b8a3;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 0, 20px;
    box-sizing: border-box;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform-origin: left;
    transform: rotateY(90deg);
    opacity: 0;
}

    .caption h3 {
        font-size: 16px;
        color: orangered;
        padding: 5px;
        padding-top: 5px;
        margin-bottom: 5px;
    }

    .caption p {
        font-size: 12px;
        padding: 0 5px 5px 5px;
    }

@media screen and (max-width: 982px) {
    .caption h3 {
        font-size: 12px;
        padding: 5px;
        padding-top: 8px;
        margin-bottom: 5px;
    }

    .caption p {
        font-size: 10px;
        padding: 0 5px 5px 5px;
    }
}

@media screen and (max-width: 767px) {
    .caption h3 {
        font-size: 10px;
        padding: 5px;
        padding-top: 8px;
        margin-bottom: 5px;
    }

    .caption p {
        font-size: 7.5px;
        padding: 0 5px 5px 5px;
    }
}
/* Home grid room image End */
