@using Microsoft.AspNetCore.Identity
@*@inject UserManager<AppUser> UserManager*@

@if (!User.Identity.IsAuthenticated)
{
    <span style="padding: 0 5px;"></span>
    <a class="nav-link text-success" asp-controller="Account" asp-action="Login">Log in</a>
    <span style="padding: 0 5px;"></span>
    <a class="nav-link text-primary" asp-controller="Account" asp-action="Register">Register</a>
}
else
{
    @*User profile section*@
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link notranslate" style="color:deepskyblue;" asp-controller="" asp-action="">
               @*@UserManager.GetUserAsync(User).Result.UserName*@
               </a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="" asp-action="">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="" asp-action="">Motel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="AdminStaff" asp-action="StaffList">Staff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="" asp-action="">Bookings</a>
                </li>
            }
            else if (User.IsInRole("User"))
            {
                @if (ViewBag.count == null)
                {
                    ViewBag.count = 0;
                }
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="" asp-action="">Cart(0)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="" asp-action="">History</a>
                    @*asp-route-id="@UserManager.GetUserAsync(User).Result.Id"*@
                   
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="" asp-action="">Motel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="" asp-action="">Rooms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="" asp-action="">Bookings</a>
                </li>
            }
        </ul>
    </div>

    <span style="padding: 5px;"></span>
    <div class="navbar-brand">
        <form asp-controller="Account" asp-action="Logout">
            <button class="btn btn-outline-danger my-2 my-sm-0">
                <i class="bi bi-box-arrow-in-right"></i> Log out
            </button>
        </form>
    </div>
}