@using MotelBookingApp.Data.ViewModels
@model RoomInputModel
@{
    ViewData["Title"] = "Add a Room";
}


<div>@TempData["id"]</div>
<div class="container">
    <div class="col-md-10 offset-2">
        @if (TempData["RoomCreateOption"] != null)
        {
            <div id="RoomCreatOption" class="flash alert alert-danger">@TempData["RoomCreateOption"] </div>
        }
        <h2>Create Room</h2>
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="d-flex justify-content-around align-content-center">
                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="RoomNum"></label>
                        <input asp-for="RoomNum" class="form-control form-control-sm" />
                        <span asp-validation-for="RoomNum" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" class="form-control form-control-sm"> </textarea>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="RoomType">Room Type</label>
                        <select asp-for="RoomType" class="form-control form-control-sm">
                            @foreach (RoomType r in Model.RoomTypeList)
                            {
                                <option value=@r.Id>@r.Name</option>
                            }
                        </select>
                        <span asp-validation-for="RoomType" class="text-danger"></span>
                    </div>

                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Create
                        </button>
                        <a class="btn btn-secondary" asp-controller="StaffRoom" asp-action="Index">Cancel</a>
                    </div>
                </div>

                @* <div class="col-md-4 text-center" style="margin:1rem 1rem">
                <img id="preview" src="#" width="200" height="200" alt="room style image" />
                <input style="margin:1rem 1rem" type="file" asp-for="TypeImage" onchange="previewImage()" class="form-control form-control-sm" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>*@

            </div>
        </form>
    </div>
</div>
<script>
    setTimeout(function () {
        document.getElementById("RoomCreateOption").style.display = "none";
    }, 3000);
</script>


