@using MotelBookingApp.Data.ViewModels;
@model RegisterVM;

@{
    ViewData["Title"] = "Create Account";
}

<div class="col-12 justify-content-center mb-5">
    <div class="col-md-12">
        @if (TempData["RegisterError"] != null)
        {
            <div id="RegisterError" class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["RegisterError"] </span>
            </div>
        }
        <div class="register-photo">
            <h3 class="px-5 py-3">Sign up for a new account</h3>
            <div class="form-container">
                <div class="image-holder"></div>
                <form asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="FirstName" class="control-label mt-2"></label>
                            <input asp-for="FirstName" class="form-control p-0" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="LastName" class="control-label mt-2"></label>
                            <input asp-for="LastName" class="form-control p-0" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="UserName" class="control-label mt-2"></label>
                            <input asp-for="UserName" class="form-control p-0" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="DOB" class="control-label mt-2"></label>
                            <input type="date" asp-for="DOB" class="form-control p-0" />
                            <span asp-validation-for="DOB" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="Email" class="control-label mt-2"></label>
                            <input asp-for="Email" class="form-control p-0" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="PhoneNumber" class="control-label mt-2"></label>
                            <input asp-for="PhoneNumber" class="form-control p-0" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="Password" class="control-label mt-2"></label>
                            <input asp-for="Password" class="form-control p-0" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="ConfirmPassword" class="control-label mt-2"></label>
                            <input asp-for="ConfirmPassword" class="form-control p-0" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <input class="btn btn-outline-primary float-right" type="submit" value="Register" onclick="buttonChange()" id="btnbefore" />
                        <button class="btn btn-outline-primary float-right" id="btnafter" style="visibility:hidden; position:relative; left:-65px;">
                            <div class="loader">
                                <div class="inner one"></div>
                                <div class="inner two"></div>
                                <div class="inner three"></div>
                            </div>
                        </button>
                        <a class="btn btn-outline-secondary" style="position:relative; left:-45px;" asp-controller="Home" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function () {
        document.getElementById("RegisterError").style.display = "none";
    }, 3000);

    function buttonChange() {
        document.getElementById("btnbefore").style.visibility = 'hidden';
        document.getElementById("btnafter").style.visibility = 'visible';
    }
</script>


<!-- Loading button -->
<style>
    .loader {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        perspective: 800px;
    }

    .inner {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

        .inner.one {
            left: 0%;
            top: 0%;
            animation: rotate-one 1s linear infinite;
            border-bottom: 3px solid darkgreen;
            opacity: 0.4;
        }

        .inner.two {
            right: 0%;
            top: 0%;
            animation: rotate-two 1s linear infinite;
            border-right: 3px solid darkred;
            opacity: 0.5;
        }

        .inner.three {
            right: 0%;
            bottom: 0%;
            animation: rotate-three 1s linear infinite;
            border-top: 3px solid darkorange;
            opacity: 0.6;
        }

    @@keyframes rotate-one {
        0% {
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        }

        100% {
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        }
    }

    @@keyframes rotate-two {
        0% {
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        }

        100% {
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        }
    }

    @@keyframes rotate-three {
        0% {
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
        }

        100% {
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        }
    }
</style>