@using System.Configuration


@*For Test Use *@
@using (Html.BeginForm("CreateCheckoutSession", "Payment", FormMethod.Post))
{
    <input type="text" id="TextBox1" placeholder="amount" name="amount" />
    <br />
    <button type="submit">Checkout</button>
}
