@using MotelBookingApp.Data.ViewModels;
@model LoginVM;

@{
    ViewData["Title"] = "Log in to your account";
}

<div class="col-12 justify-content-center">
    <div class="col-md-12">
        @if (TempData["LoginFlash"] != null)
        {
            <div id="LoginFlash" class="flash alert alert-success">
                @TempData["LoginFlash"]
            </div>
        }
        @if (TempData["LoginError"] != null)
        {
            <div id="LoginError" class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["LoginError"] </span>
            </div>
        }
        <div class="register-photo">
            <h3 class="px-5 py-3">Log in to your account</h3>
            <div class="form-container">
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label mt-3"></label>
                        <input asp-for="Email" class="form-control p-0" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label mt-3"></label>
                        <input asp-for="Password" class="form-control p-0" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox mt-2">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <p><a asp-action="ForgotPassword">Forgot your password?</a></p>

                        <input class="btn btn-outline-success float-right" type="submit" value="Log in" />
                        <a asp-controller="GoogleLogin" asp-action="Login">
                            <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"
                                 alt="Google Sign-In" />
                        </a>
                        <hr />
                        <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Register">
                            Register Here
                        </a>
                    </div>
                </form>
                <div class="image-holder-2"></div>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function () {
        document.getElementById("LoginError").style.display = "none";   
    }, 3000);
    setTimeout(function () {
        document.getElementById("LoginFlash").style.display = "none";
    }, 3000);
</script>

