@{
    ViewData["Title"] = "Availablility List";
}



<div class="container">
    <div class="row">

        <!-- Left column -->
        <div class="col-md-4 bg-light p-3">
            <h2>Quick Search</h2>
            <!-- left column content goes here -->
            <form>
                <div class="form-group">
                    <label for="destination">Destination</label>
                    <select class="form-control" id="destination">
                        <option>Montreal</option>
                        <option>Toronto</option>
                        <option>Vancouver</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="checkin">Check-in date</label>
                    <input type="date" class="form-control" id="checkin">
                </div>
                <div class="form-group">
                    <label for="checkout">Check-out date</label>
                    <input type="date" class="form-control" id="checkout">
                </div>
                <div class="form-group">
                    <label for="roomtype">Room type</label>
                    <select class="form-control" id="roomtype">
                        <option>1 Adult</option>
                        <option>2 Adults</option>
                        <option>1 Adult 1 Kid</option>
                        <option>Family</option>
                    </select>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary m-3">Search</button>
                </div>
 

            </form>
        </div>

        <!-- Right column -->
        <div class="col-md-8 bg-light p-3">
            <h2>Your search result:</h2>

            <!-- Stacked divs -->
            <div class="mb-3">
                <div class="p-3 bg-white">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">

                            <img src="/image/7.jpg" class="img-fluid">
                        </div>

                        <div class="col-md-8 col-sm-8 p-3">
                            <span style="float:left;"><h5>Montreal Marriot Motel & Spa</h5></span>
                            <span style="float:right;"><button type="submit" class="btn btn-warning" style="float:right;">5</button></span>
                            <div style="clear:both; font-size: 14px; line-height: 0.75;">

                                <p>City View Guest room, 2 Queen</p>
                                <p>2 large double beds</p>
                                <p>Outdoor and indoor spas</p>
                            </div>
                            <span style="float:left;">CAD 99.99</span>

                            <button type="submit" class="btn btn-primary" style="float:right;">Book it</button>
                        </div>



                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="p-3 bg-white">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">

                            <img src="/image/8.jpg" class="img-fluid">
                        </div>

                        <div class="col-md-8 col-sm-8 p-3">
                            <span style="float:left;"><h5>Montreal Four Season Motel</h5></span>
                            <span style="float:right;"><button type="submit" class="btn btn-warning" style="float:right;">5</button></span>
                            <div style="clear:both; font-size: 14px; line-height: 0.75;">

                                <p>City View Guest room, 2 Queen</p>
                                <p>2 large double beds</p>
                                <p>Outdoor and indoor spas</p>
                            </div>
                            <span style="float:left;">CAD 109.99</span>

                            <button type="submit" class="btn btn-primary" style="float:right;">Book it</button>
                        </div>



                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="p-3 bg-white">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">

                            <img src="/image/9.jpg" class="img-fluid">
                        </div>

                        <div class="col-md-8 col-sm-8 p-3">
                            <span style="float:left;"><h5>Laval Cartier Motel</h5></span>
                            <span style="float:right;"><button type="submit" class="btn btn-warning" style="float:right;">4.8</button></span>
                            <div style="clear:both; font-size: 14px; line-height: 0.75;">

                                <p>City View Guest room, 2 Queen</p>
                                <p>2 large double beds</p>
                                <p>Outdoor and indoor spas</p>
                            </div>
                            <span style="float:left;">CAD 129.99</span>

                            <button type="submit" class="btn btn-primary" style="float:right;">Book it</button>

                            <a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="Home" asp-action="Details">
                                <i class="bi bi-person-plus"></i>Check Details to book
                            </a>
                        </div>



                    </div>
                </div>
            </div>

    </div>
</div>





