@{
    ViewData["Title"] = "Payment Cancelled";
}

<div class="text-center mb-5">

    <label class="text-info">Your Payment was not finished!</label>
    <br />
    <br />
    <br />
    <section>
        <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
    </section>

</div>
