@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject IOptions<MotelBookingApp.Data.StripeSettings> Stripe

@{
    ViewData["Title"] = "Checkout";
}

<div class="text-center">
    @using (Html.BeginForm("CreateCheckoutSession", "Checkout", FormMethod.Post))
    {
        <label>Amount CAD$</label>
        <input type="text" id="TextBox1" name="total" value="@ViewBag.Total" disabled />
        <br>
        <br>
        <button type="submit" class="btn btn-sm btn-primary">Pay With Card</button>
    }
</div>
