@using MotelBookingApp.Data.ViewModels;
@model EditStaffVM;

@{
    ViewData["Title"] = "Customer Info";
}

<div class="col-12 justify-content-center mb-5">
    <div class="register-photo">
        <div class="container col-md-8">
            <img src="https://t4.ftcdn.net/jpg/03/81/89/61/360_F_381896172_z2QE8bV3z7FxzpGM6uzukJ3JAz6y6N0w.jpg" alt="" width="100%" />
        </div>
        <br />
        @if (TempData["CustomerInfo"] != null)
        {
            <div id="CustomerInfo" class="container col-md-8 flash alert alert-warning">
                @TempData["CustomerInfo"]
            </div>
        }
        <div class="container col-md-8">
            <h3 class="pt-4 pb-2">Customer Information</h3>
            <div class="form-container">
                <form>
                    <div class="row" hidden>
                        <div class="col-12">
                            <label asp-for="Id" class="control-label mt-2"></label>
                            <input asp-for="Id" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="FirstName" class="control-label mt-2"></label>
                            <input asp-for="FirstName" class="form-control" readonly />
                        </div>
                        <div class="col-6">
                            <label asp-for="LastName" class="control-label mt-2"></label>
                            <input asp-for="LastName" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="UserName" class="control-label mt-2"></label>
                            <input asp-for="UserName" class="form-control" readonly />
                        </div>
                        <div class="col-6">
                            <label asp-for="DOB" class="control-label mt-2"></label>
                            <input type="date" asp-for="DOB" class="form-control" value="@Model.DOB.ToString("yyyy-MM-dd")" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="Email" class="control-label mt-2"></label>
                            <input asp-for="Email" class="form-control" readonly />
                        </div>
                        <div class="col-6">
                            <label asp-for="PhoneNumber" class="control-label mt-2"></label>
                            <input asp-for="PhoneNumber" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="form-group my-4">
                        <a class="btn btn-outline-secondary" asp-controller="AdminCustomer" asp-action="CustomerList">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function () {
        document.getElementById("CustomerInfo").style.display = "none";
    }, 3000);
</script>