@model Motel
@{
    ViewData["Title"] = "Add a comment";
}

<div onload="showScore()" class="container">
    <div class="col-md-10 offset-2">
        <h2>Add a comment</h2>
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="col-md-8">

                <div class="form-group">
                    <label>Motel</label>
                    <input readonly asp-for="Name" class="form-control form-control-sm" />

                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea name="content" class="form-control form-control-sm"></textarea>
                </div>

                <!-- Test Stars Start-->
                <div class="form-group">
                    <label for="score">Rating:</label>
                    <input type="hidden" name="score" id="score" value="5" />
                    <div id="rating-container" style="color:darkgoldenrod">
                        <i class="fa fa-star" data-value="1"></i>
                        <i class="fa fa-star" data-value="2"></i>
                        <i class="fa fa-star" data-value="3"></i>
                        <i class="fa fa-star" data-value="4"></i>
                        <i class="fa fa-star" data-value="5"></i>
                    </div>
                </div>

                @section Scripts{
                    <script>
                        $(document).ready(function () {
                            $("#rating-container i").click(function () {
                                var score = $(this).data("value");
                                $("#rating-container i").removeClass("fa-star-o").addClass("fa-star");
                                $(this).prevAll().removeClass("fa-star-o").addClass("fa-star");
                                $(this).removeClass("fa-star-o").addClass("fa-star");
                                $(this).nextAll().removeClass("fa-star").addClass("fa-star-o");
                                $("#score").val(score);
                            });
                        });
                    </script>
                }
                <!-- Test Stars End -->
            </div>

            <div class="col-md-4 text-center" style="margin:1rem 1rem">
                <button type="submit" class="btn btn-primary" asp-route-id="@Model.Id">Add</button>
            </div>
        </form>
    </div>
</div>

<script>
    setTimeout(function () {
        document.getElementById("AirportEditOption").style.display = "none";
    }, 3000);


    function showScore() {
        var score = document.querySelector('#score');
        var scoreValue = document.getElementById("scoreValue").value;
        score.innerHTML = scoreValue

    }
</script>