@model Comment
@{
    ViewData["Title"] = "Edit a comment";
}

<div onload="showScore()" class="container">
    <div class="col-md-10 offset-2">
        <h2>Edit Comments</h2>
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="col-md-8">

                <div class="form-group">
                    <label>Motel</label>
                    <input readonly asp-for="Motel.Name" class="form-control form-control-sm" />

                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea asp-for="Content" class="form-control form-control-sm"></textarea>

                </div>

                <!-- Test Stars Start-->
                <div class="form-group">
                    <label for="score">Rating: </label>
                    <input type="hidden" name="score" id="score" />
                    <div id="rating-container" style="color:darkgoldenrod">
                        @for (int i = 1; i <= 5; i++)
                        {
                            <i class="fa @(i <= Convert.ToInt32(Model.Score) ? "fa-star" : "fa-star-o")" data-value="@i"></i>
                        }
                    </div>
                </div>

                @section Scripts{
                    <script>
                        $(document).ready(function () {
                            $("#rating-container i").click(function () {
                                var score = $(this).data("value");
                                $("#rating-container i").removeClass("fa-star-o").addClass("fa-star");
                                $(this).prevAll().removeClass("fa-star-o").addClass("fa-star");
                                $(this).removeClass("fa-star-o").addClass("fa-star");
                                $(this).nextAll().removeClass("fa-star").addClass("fa-star-o");
                                $("#score").val(score);
                            });
                        });
                    </script>
                }
                <!-- Test Stars End -->


                <div class="col-md-4 mt-5">
                    <button type="submit" class="btn btn-primary" asp-route-id="@Model.Id">Update</button>
                </div>
        </form>
    </div>
</div>

<script>
    setTimeout(function () {
        document.getElementById("AirportEditOption").style.display = "none";
    }, 3000);


    function showScore() {
        var score = document.querySelector('#score');
        var scoreValue = document.getElementById("scoreValue").value;
        score.innerHTML = scoreValue

    }

</script>