@using MotelBookingApp.Data.ViewModels
@model CustomerSearchVM
@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["alertMsg"] != null)
{
    <script type="text/javascript">
        alert('@TempData["alertMsg"]');
    </script>
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @if (TempData["searchOption"] != null)
        {
            <div id="searchOption" class="flash alert alert-warning">
                @TempData["searchOption"]
            </div>
        }
        <div class="container border border-orange-2 px-3 py-2">
            <form method="post">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                            <input class="form-control" id="city" placeholder="input city name..." asp-for="City" name="city" />
                    </div>

                    <div class="col-lg-3 mb-3">
                       
                            <input type="date" class="form-control" asp-for="CheckinDate" name="checkin" id="check-in">
                         
                    </div>
                    <div class="col-lg-3 mb-3">
                            <input type="date" class="form-control" asp-for="CheckoutDate" name="checkout" id="check-out">   
                    </div>
                    <div class="col-lg-2 mb-2">
                        <select class="form-select" id="room-type" asp-for="SearchType" name="roomType">
                                <option value=""></option>
                                @foreach (var rt in Model.RoomTypeList)
                                {
                                    <option value=@rt.Name>@rt.Name</option>
                                }
                            </select>
                    </div>
                    <div class="col-lg-1 mb-1">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="slider">
    <img src="images/slider.jpg" class="imag">
</div>

<!-- Featured rooms -->
<div class="container p-0">
    <h1 class="text-center mt-4">FEATURED ROOMS</h1>
    <p class="delight">Come checkout our delightful rooms!</p>

    <div class="rooms">
        <div class="innerimg">
            <img src="https://s7d2.scene7.com/is/image/ritzcarlton/pnqrz-king-50668318?$XlargeViewport100pct$" class="roomimg">
            <p class="pt-3">DELUXE</p>
        </div>
        <div class="innerimg">
            <img src="https://www.hotel7dublin.com/wp-content/uploads/Hotel-7-Dublin-family-room-with-2-double-beds.jpg" class="roomimg">
            <p class="pt-3">DOUBLE</p>
        </div>
        <div class="innerimg">
            <img src="https://d2e5ushqwiltxm.cloudfront.net/wp-content/uploads/sites/70/2016/11/22095538/suite-novotel-bangkok-ploenchit-sukhumvit-1.jpeg" class="roomimg">
            <p class="pt-3">SUITE</p>
        </div>
    </div>
</div>

<!-- Google Map -->
<style>
    #map {
        height: 400px;
        width: 100;
    }
</style>

<div class="container col-12 mt-5" id="map"></div>

<script>
    let map;
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 45.501690, lng: -73.567253 },
            zoom: 8,
        });

        const markers = [
            { lat: 45.501690, long: - 73.567253, Name: "Grand", Address: "2000 rue darlington" },
            { lat: 45.501690, long: - 74.567253, Name: "Light", Address: "1000 rue darlington" },

        ]

        markers.forEach(m => {

            const marker = new google.maps.Marker({
                position: { lat: m.lat, lng: m.long },
                map: map,
                title: m.Name

            });

            var contentString =
                '<h4 id="firstHeading" class="firstHeading">' + m.Name + '</h4>' +
                '<div id="bodyContent">' +
                '<p><b>Address:</b> ' + m.Address;

            const popupContent = new google.maps.InfoWindow()
            google.maps.event.addListener(marker, 'mouseover', (function (marker) {
                return function () {
                    popupContent.setContent(contentString)
                    popupContent.open(map, marker)
                }
            })(marker)
            )

            google.maps.event.addListener(marker, 'mouseout', (function (marker) {
                return function () {

                    popupContent.close(map, marker)
                }
            })(marker)
            )

        })

    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAsqoqHbNDPolDTzwEVCiVK2AGAUPKXX8&callback=initMap&v=weekly"
        defer></script>




<div class="room-deal">
    <img src="images/room-deal.jpg" id="imgdeal">
</div>
<div class="about">
    <img src="images/about-us-2.jpg">
    <div class='about-p'>
        <h1>WHY CHOOSE US</h1>
        <p>Kevin pastrami tri-tip prosciutto ham hock pork belly bacon pork loin salami pork chop shank corned beef tenderloin meatball cow. Pork bresaola meatloaf tongue, landjaeger tail andouille strip steak tenderloin sausage chicken tri-tip. Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        <ol>
            <li>Pork bresaola meatloaf tongue, landjaeger tail andouille.</li>
            <li>Pork bresaola meatloaf tongue, landjaeger tail andouille.</li>
            <li>Pork bresaola meatloaf tongue, landjaeger tail andouille.</li>
            <li>Pork bresaola meatloaf tongue, landjaeger tail andouille.</li>
            <li>Pork bresaola meatloaf tongue, landjaeger tail andouille.</li>
        </ol>
    </div>
</div>
<div class="clirev">
    <span class="espan"><i class="fspan fa-4x far fa-smile-beam"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, soluta.</p></span>
    <span class="espan"><i class="fspan fa-4x far fa-heart"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, soluta.</p></span>
    <span class="espan"><i class="fspan fa-4x far fa-thumbs-up"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, soluta.</p></span>
    <span class="espan"><i class="fspan fa-4x far fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, soluta.</p></span>
</div>
<div class="staff">
    <h1>OUR TEAM MEMBERS</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, labore?</p>
    <div class="divimg">
        <img src="images/team-2-1.jpg" alt="">
        <img src="images/team-2-2.jpg" alt="">
        <img src="images/team-2-3.jpg" alt="">
    </div>
</div>
</div>

<script>
    setTimeout(function () {
        document.getElementById("MotelOption").style.display = "none";
    }, 3000);
</script>


