@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if(TempData["searchOption"] != null)
    {
        <div id="searchOption" class="flash alert alert-warning">
            @TempData["searchOption"]
        </div>
    }
    <div>@ViewBag.checkin</div>
        <div class="container border border-orange-2 px-3 py-2">
            <form method="post">
                <div class="row">
                    @*   <div class="col-lg-3 mb-3">
                    <select class="form-select" id="city" name="city">
                    <option value="Montreal">Montreal</option>
                    <option value="Moronto">Toronto</option>
                    <option value="Vancouver">Vancouver</option>
                    <option value="Laval">Laval</option>
                    </select>
                    </div>*@
                    <div class="col-lg-3 mb-3">
                        <input class="form-control" id="city" placeholder="city..." name="city" value=@TempData["city"] />
                    </div>
                    <div class="col-lg-4 mb-4">
                        <input type="date" class="form-control" id="check-in" value=@TempData["checkin"] name="checkin">
                    </div>
                    <div class="col-lg-4 mb-4">
                        <input type="date" class="form-control" value=@TempData["checkout"] id="check-out" name="checkout">
                    </div>
                    @*<div class="col-lg-2 mb-3">
                    <select class="form-select" id="room-type" name="room-type">
                    <option value="1adult">1 Adult</option>
                    <option value="2adults">2 Adults</option>
                    <option value="1adult1kid">1 Adult 1 Kid</option>
                    <option value="family">Family</option>
                    </select>
                    </div>*@
                    <div class="col-lg-1 mb-3">
                        <button type="submit" class="btn btn-primary" style="background-color: navy; color: white;">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="slider">
    <img src="images/slider.jpg" class="imag">
</div>

<div class="rooms">
    <h1>OUR ROOMS</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, reprehenderit!</p>
    <div class="roomimages">
        <span class="innerimg">
            <img src="images/room-1.jpg" class="img2">
            <p class="h11">DELUX ROOM</p>
            <p class="pricetag">89$ / Night</p>
        </span>
        <span class="innerimg">
            <img src="images/room-2.jpg" class="img2">
            <p class="h11">DELUX ROOM</p>
            <p class="pricetag">89$ / Night</p>
        </span>
        <span class="innerimg">
            <img src="images/room-3.jpg" class="img2">
            <p class="h11">DELUX ROOM</p>
            <p class="pricetag">89$ / Night</p>
        </span>
        <span class="innerimg">
            <img src="images/room-4.jpg" class="img2">
            <p class="h11">DELUX ROOM</p>
            <p class="pricetag">89$ / Night</p>
        </span>
        <span class="innerimg">
            <img src="images/room-5.jpg" class="img2">
            <p class="h11">DELUX ROOM</p>
            <p class="pricetag">89$ / Night</p>
        </span>
        <span class="innerimg">
            <img src="images/room-6.jpg" class="img2">
            <p class="h11">DELUX ROOM</p>
            <p class="pricetag">89$ / Night</p>
        </span>
    </div>
</div>



<style>
    #map {
        height: 400px;
        width: 400px;
    }
</style>


<div id="map"></div>

<script>
    let map;
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 45.501690, lng: -73.567253 },
            zoom: 8,
        });

        const markers = [
            { lat: 45.501690, long: - 73.567253, Name: "Grand", Address: "2000 rue darlington" },
            { lat: 45.501690, long: - 74.567253, Name: "Light", Address: "1000 rue darlington" },

        ]

        markers.forEach(m => {

            const marker = new google.maps.Marker({
                position: { lat: m.lat, lng: m.long },
                map: map,
                title: m.Name

            });

            var contentString =
                '<h4 id="firstHeading" class="firstHeading">' + m.Name + '</h4>' +
                '<div id="bodyContent">' +
                '<p><b>Address:</b> ' + m.Address;

            const popupContent = new google.maps.InfoWindow()
            google.maps.event.addListener(marker, 'mouseover', (function (marker) {
                return function () {
                    popupContent.setContent(contentString)
                    popupContent.open(map, marker)
                }
            })(marker)
            )

            google.maps.event.addListener(marker, 'mouseout', (function (marker) {
                return function () {

                    popupContent.close(map, marker)
                }
            })(marker)
            )

        })

    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAsqoqHbNDPolDTzwEVCiVK2AGAUPKXX8&callback=initMap&v=weekly"
        defer></script>




<div class="room-deal">
    <img src="images/room-deal.jpg" id="imgdeal">
</div>
<div class="about">
    <img src="images/about-us-2.jpg">
    <div class='about-p'>
        <h1>WHY CHOOSE US</h1>
        <p>Kevin pastrami tri-tip prosciutto ham hock pork belly bacon pork loin salami pork chop shank corned beef tenderloin meatball cow. Pork bresaola meatloaf tongue, landjaeger tail andouille strip steak tenderloin sausage chicken tri-tip. Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        <ol>
            <li>Pork bresaola meatloaf tongue, landjaeger tail andouille.</li>
            <li>Pork bresaola meatloaf tongue, landjaeger tail andouille.</li>
            <li>Pork bresaola meatloaf tongue, landjaeger tail andouille.</li>
            <li>Pork bresaola meatloaf tongue, landjaeger tail andouille.</li>
            <li>Pork bresaola meatloaf tongue, landjaeger tail andouille.</li>
        </ol>
    </div>
</div>
<div class="clirev">
    <span class="espan"><i class="fspan fa-4x far fa-smile-beam"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, soluta.</p></span>
    <span class="espan"><i class="fspan fa-4x far fa-heart"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, soluta.</p></span>
    <span class="espan"><i class="fspan fa-4x far fa-thumbs-up"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, soluta.</p></span>
    <span class="espan"><i class="fspan fa-4x far fa-star"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, soluta.</p></span>
</div>
<div class="staff">
    <h1>OUR TEAM MEMBERS</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, labore?</p>
    <div class="divimg">
        <img src="images/team-2-1.jpg" alt="">
        <img src="images/team-2-2.jpg" alt="">
        <img src="images/team-2-3.jpg" alt="">
    </div>
</div>
</div>

<script>
    setTimeout(function () {
        document.getElementById("searchOption").style.display = "none";
    }, 3000);
</script>


