@using MotelBookingApp.Data.ViewModels;
@model BugSubmitVM;

@{
    ViewData["Title"] = "Bug Submit";
}

<div class="col-12 justify-content-center">
    <div class="col-md-12">
        @if (TempData["BugSumbit"] != null)
        {
            <div id="BugSumbit" class="flash alert alert-success">
                @TempData["BugSumbit"]
            </div>
        }
        <h4>Submit a Bug</h4>
        <form asp-action="Submit" method="post">
            <div class="form-row col-8 mt-3">
                <div class="form-group col-md-12">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name" required />
                </div>
            </div>
            <div class="form-row col-8 mt-3">
                <div class="form-group col-md-12">
                    <label asp-for="Comment">Comment</label>
                    <textarea asp-for="Comment" class="form-control" placeholder="Your Comment Here..." rows="10" required></textarea>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
