@using MotelBookingApp.Data.ViewModels;
@model MotelInputModel;
@{
    ViewData["Title"] = "Add a motel";
}

<div class="container">
    <div class="col-md-10 offset-2">
        <h2>Create a Motel</h2>
        <form asp-action="Create" enctype="multipart/form-data" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="d-flex justify-content-around align-content-center">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control form-control-sm" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address">Address</label>
                        <input asp-for="Address" class="form-control form-control-sm" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City">City</label>
                        <input asp-for="City" class="form-control form-control-sm" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Province">Province</label>
                        <input asp-for="Province" class="form-control form-control-sm" />
                        <span asp-validation-for="Province" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PostalCode">PostalCode</label>
                        <input asp-for="PostalCode" class="form-control form-control-sm" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create</button>
                        @*<a class="btn btn-secondary" asp-controller="AdminFlight" asp-action="Index">Cancel</a>*@
                    </div>
                </div>
                <div class="col-md-4 text-center" style="margin:1rem 1rem">
                    <img id="preview" src="#" width="250" height="250" alt="Motel image" />
                    <input style="margin:1rem 1rem" type="file" asp-for="MotelImage" id="chooseImg" onchange="previewImage()" class="form-control form-control-sm" />
                    <span asp-validation-for="MotelImage" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    function previewImage() {
        var preview = document.querySelector('#preview');
        preview.style.displa = "none";
        var file = document.querySelector('input[type=file]').files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
            preview.style.displa = "block";
        }

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>
